body {
    background: #ffffff;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    margin-right: 40px;
    text-decoration: none;
}

.btn {
    padding: 20px 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 14px;
    background: none;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 50%;
    align-items: start;
}

.illustration {
    display: flex;
    width: 100%;
}

.content-right {
    display: flex;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    line-height: 28px;
}

.black-style {
    background: black;
    transition: 0.2s ease-out;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.black-style:hover {
    transition: 0.2s ease-out;
    background: #B9FF66;
    color: black;
}

.white-style {
    border: 1px solid black;
    transition: 0.2s ease-out;
}

.white-style:hover {
    background: black;
    color: white;
}

a:hover {
    color: #B9FF66;
    transition: 0.2s ease-out;
}

a {
    transition: 0.2s ease-out;
}

@media (max-width: 1400px) {
    .nav-item {
        display: none;
    }

    .content {
        flex-direction: column-reverse;
        width: 100%;
        align-items: start;
        gap: 35px;
    }

    .content-left {
        max-width: 100%;
    }

    .content-right {
        width: 100%;
    }
}

@media (max-width: 800px) {
    nav {
        display: none;
    }

    header {
        justify-content: center;
    }

    body {
        padding: 40px 20px;
    }

    h1 {
        font-size: 48px;
    }
}